<td class="d-flex ">
                <div class="pe-3">
                    <a href="/product/{{ product.id }}"><button type="button" class="btn btn-info">Zobacz</button></a>
                </div>
                <div class="pe-3">
                    <a href="/product/edit/{{ product.id }}"><button type="button" class="btn btn-primary">Edytuj</button></a>
                </div>
                <div>
                    <a href="/product/delete/{{ product.id }}"><button type="button" class="btn btn-danger">Usuń</button></a>
                </div>
</td>